@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Gowun Batang', serif;
    overflow: hidden;
}

canvas {
    display: block;
    background-color: black;
}
